.filtered-pod-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  align-items: center;
}

.tech-stack-container {
  display: flex;
}

.tech-stack-margin {
  margin-left: 1rem;
}
