* {
  font-family: "Darker Grotesque", sans-serif;
}

.form-component {
  background-color: #ebedeb;
  width: 100%;
}

h3 {
  color: #000048;
  padding-top: 2rem;
  margin-left: 2rem;
  font-size: 28px;
  font-weight: 900;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 25rem;
}

.input-order {
  display: flex;
}

.buttons-margin {
  margin-right: 2rem;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.blue-button {
  background-color: #000048;
  color: #ccccda;
}

.orange-button {
  background-color: #dc8d0b;
  color: #f8e8ce;
}

button {
  margin-left: 1.5rem;
  border: none;
  padding: 0px 25px 4px 25px;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 2rem;
  justify-content: center;
  font-size: 36px;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

option {
  font-weight: 700;
  color: #8a8b8a;
}
