.header {
  color: #dc8d0b;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.plus {
  color: #000048;
  font-size: 50px;
}

.header-section {
  margin-bottom: 1rem;
}
