.header {
  color: #dc8d0b;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.plus {
  color: #000048;
  margin-bottom: 6px;
  font-size: 50px;
}

.plus:hover {
  cursor: pointer;
}

.header-section {
  margin-bottom: 1rem;
}

.info {
  background-color: red;
  /* padding: .5rem; */
  height: 20px;
  width: 20px;
  font-size: 15px;
}
