.reset-btn {
  background-color: #dc8d0b;
  color: #f8e8ce;
  border-radius: 12px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border: 0;
  margin-left: 15px;
  font-weight: 600;

  font-family: "Darker Grotesque", sans-serif;
  font-size: 24px;
  letter-spacing: 0.75px;
}

.reset-btn:hover,
.reset-btn:active {
  background-color: #daa44d;
}

.filter-input {
  background-color: #e6e8e6;
  border: 0;
  border-radius: 12px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 10px;

  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  letter-spacing: 0.75px;
  font-weight: 400;
}
