.reset-btn.button {
  /* background-color: #dc8d0b;
  color: #f8e8ce;
  border-radius: 12px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border: 0;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 24px;
  letter-spacing: 0.75px; */
  font-size: 20px;
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}

/* .reset-btn:hover,
.reset-btn:active {
  background-color: #daa44d;
  cursor: pointer;
} */

.filter-input {
  background-color: #e6e8e6;
  border: 0;
  border-radius: 12px;
  margin-bottom: 1em;
  padding: 10px 20px 10px 10px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  letter-spacing: 0.75px;
  font-weight: 400;
  width: 90%;
}

.filter-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  width: 100%;
}

/* For mobile view */
@media only screen and (max-width: 800px) {
  .filter-input1,
  .filter-input {
    font-size: 14px;
    letter-spacing: 0.25px;
    padding: 5px;
    width: 100px;
    border-radius: 8px;
  }

  .filter-input {
    margin-left: 5px;
  }

  .reset-btn {
    border-radius: 8px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 3px;
    margin-left: 5px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
