.row-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  width: 100%;
  border: solid #000048 1px;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000048;
  font-weight: 400;
  font-family: "Darker Grotesque";
  letter-spacing: 0.025em;
  font-size: 24px;
  margin-bottom: 15px;
  padding: 0.4em 0;
}

.row-id {
  font-weight: 700;
}

.row-id:first-child {
  padding-left: 1rem;
}

.delete-row-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
