.page-title {
  font-size: 64px;
  font-weight: 700;
  color: #dc8d0b;
}
.container {
  width: 800px;
  margin-top: 136px;
  margin-right: auto;
  margin-left: auto;
}
.submit {
  border: none;
  background-color: #dc8d0b;
  color: #f8e8ce;
  border-radius: 16px;
  height: 56px;
  width: 166px;
  font-size: 36px;
  font-weight: 700;
}
.button-container {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}
