.tag-container {
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.tag {
  color: #ffffff;
  font-weight: 600;
  padding: 0px 2px 0px 2px;
  border-radius: 5px;
  letter-spacing: 0.035em;
  display: inline-block;
}
