.selected-item {
  background-color: #585887;
  font-weight: 700;
}

.side-bar-item:hover {
  background-color: #585887;
}

.on-hover-item:hover {
  background-color: rgba(0, 0, 72, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Darker Grotesque", sans-serif;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 24px;
  font-weight: 700;
}

.button-orange {
  background-color: #dc8c0b;
  color: #f8e8ce;
}

.button-orange:hover {
  cursor: pointer;
  background-color: #daa755;
}
