.page-title {
  font-size: 64px;
  font-weight: 700;
  color: #dc8d0b;
}

.container {
  margin-top: 3rem;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

button.button-orange {
  background-color: #dc8d0b;
  color: #f8e8ce;
  margin-left: 1.5rem;
  font-size: 24px;
  letter-spacing: 0.025em;
  float: right;
}

button.button-orange:hover {
  cursor: pointer;
  opacity: 0.5;
}

button.button-orange:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
