.page-title {
  font-size: 64px;
  font-weight: 700;
  color: #dc8d0b;
}

.container {
  margin-top: 3rem;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
